<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить цитату</title>
    <style>
    #weight {
        width: 4em; /* Ширина поля ввода */
    }
    </style>
</head>
<body>
    <h1>Добавить новую цитату</h1>
    <form method="post">
        {% csrf_token %}
        <label for="text">Укажите текст цитаты:</label>
        <input type="text" size="100" name="text" id="text" required><br>
        {% if text_error %}
            <p style="color: red; display: inline;">{{ text_error }}</p>
            <br>
        {% else %}
            <br />
        {% endif %}
        <label for="source">Укажите источник цитаты:</label>
        <input type="text" size="100" name="source" id="source" required><br>
        {% if source_error %}
            <p style="color: red; display: inline;">{{ source_error }}</p>
            <br>
        {% else %}
            <br />
        {% endif %}
        <label for="weight">Укажите вес цитаты:</label>
        <input type="number" name="weight" id="weight" value="1" required><br>
        <br />
        <button type="submit">Добавить</button>
    </form>
    <footer>
        <br />
        <p>Цель: сделать с помощью Django страницу, где при каждом открытии будет отображаться случайная цитата из фильма или книги</p>
        <p>Требования:</p>
        <ul>    <li>Добавление новых цитат в общий пул из интерфейса приложения.</li>
                <li>Есть следующие ограничения:</li>
            <ul>
            <li>Нельзя допускать дубликаты</li>
            <li>У одного источника (фильм, книга и т.д.) не должно быть одновременно больше трех цитат</li>
            <li>У каждой цитаты есть свой “вес”, чем он выше, тем больше шанс выдачи на странице. Это значение должно быть корректируемым и задаваться при добавлении</li>
            <li>На странице есть счетчик просмотров, а под цитатой можно поставить лайк / дизлайк</li>
            <li>Наличие дополнительной страницы с отображением 10 самых популярных цитат (по лайкам). Можно добавить другие выборки, фильтры или даже сделать простой дашборд</li>
            <li>Приложение должно быть доступным для проверки. Можно захостить на https://www.pythonanywhere.com/, поделиться через ngrok или воспользоваться иным способом</li>
            </ul>
        </ul>
    </footer>
</body>
</html>
