<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить цитату</title>
    <style>
    #weight {
        width: 4em; /* Ширина поля ввода */
    }
    </style>
</head>
<body>
    <h1>Добавить новую цитату</h1>
    <form method="post">
        {% csrf_token %}
        <label for="text">Укажите текст цитаты:</label>
        <input type="text" size="100" name="text" id="text" required><br>
        {% if text_error %}
            <p style="color: red; display: inline;">{{ text_error }}</p>
            <br>
        {% else %}
            <br />
        {% endif %}
        <label for="source">Укажите источник цитаты:</label>
        <input type="text" size="100" name="source" id="source" required><br>
        {% if source_error %}
            <p style="color: red; display: inline;">{{ source_error }}</p>
            <br>
        {% else %}
            <br />
        {% endif %}
        <label for="weight">Укажите вес цитаты:</label>
        <input type="number" name="weight" id="weight" value="1" required><br>
        <br />
        <button type="submit">Добавить</button>
    </form>

    <br />
    <a href="{% url 'index' %}">Вернуться на главную страницу</a>

    {% include 'footer.html' %}
</body>
</html>
